# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# D4 game files
d4_audio/*

# D4 converted files, idk what the .keep files do
OGG/*.ogg
OGG_child/*.ogg
OGG_payload/*.ogg
OGG_enUS_speech/*.ogg

# D4 Intermediate
Tools/Decoding/*
Tools/Decoding_child/*
Tools/Decoding_payload/*
Tools/Decoding_enUS_speech/*

# Debugging files
*.log
completed.txt
todo.txt
